Repository ivanmercedes/logy-desktop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"**/*.{js,ts,tsx}": ["eslint --fix"],
	"**/*.{json,js,ts,tsx,md}": ["prettier --write"]
}

fix: typeof error
  .eslintrc.js
Due: eslint --fix, prettier --write

chore: add eslintignore and change pre-commit command
  .eslintignore
  .lintstagedrc
  .prettierignore
Due: none

docs: adding commit style guide
  commit-guide.md
Due: prettier --write

feat: adding context + reducer, ref and some styles fix
  electron/main.ts
  public/react.svg
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
  src/components/ButtonNav.tsx
  src/components/Drawer.tsx
  src/components/Empty.tsx
  src/components/ItemDebug.tsx
  src/components/ItemDebug/index.tsx
  src/components/Layout.tsx
  src/containers/SettingContainer.tsx
  src/context/app-context/app-provider.tsx
  src/context/app-context/app-reducer.ts
  src/main.tsx
  src/style/style.css
  tailwind.config.js
Due: eslint --fix, prettier --write

style: import in body of module; reorder to top
  electron/webServer.ts
Due: eslint --fix, prettier --write

chore: add .eslintcache to gitignore
  .gitignore
Due: none

feat: adding log filter and frame motion animation
  electron/main.ts
  electron/webServer.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/ButtonNav.tsx
  src/components/Layout.tsx
  src/context/app-context/app-provider.tsx
  src/context/app-context/app-reducer.ts
Due: eslint --fix, prettier --write

feat: implementation of tcp server
  electron/main.ts
  electron/webServer.ts
  package-lock.json
  package.json
  src/App.tsx
  src/components/ButtonNav.tsx
  src/components/ItemDebug/index.tsx
  src/components/Layout.tsx
  src/context/app-context/app-provider.tsx
  src/context/app-context/app-reducer.ts
  src/index.css
  src/util/index.ts
Due: eslint --fix, prettier --write

fix: show message when filtered item is empty
  src/App.tsx
Due: eslint --fix, prettier --write
